<!-- ====== Navbar Section Start -->
<header x-data="
{
  navbarOpen: false,
}
" :class="scrolledFromTop ? 'fixed z-50 bg-blue dark:bg-dark bg-opacity-80 shadow-sm backdrop-blur-sm' : 'absolute' "
       class="top-0 left-0 z-50 w-full absolute bg-white dark:bg-gray-800 shadow-lg backdrop-blur-lg">
       <div class="container mx-auto">
              <div class="relative flex items-center justify-between -mx-4">
                     <div class="max-w-full px-4 w-60">
                            <a href="javascript:void(0)" class="block w-full py-5">
                                   <img src="assets/img2.jpg" alt="logo1" class="w-40">
                                   <img src="assets/img1.jpg" alt="logo2" class="hidden w-full dark:block">
                            </a>
                     </div>
                     <div class="flex items-center justify-between w-full px-4">
                            <div>
                                   <button class="navbarOpen &amp;&amp; 'navbarTogglerActive'" id="navbarToggler"
                                          class="absolute right-4 top-1/2 block -translate-y-1/2 rounded-lg px-3 py-[6px] ring-primary focus:ring-2 lg:hidden">
                                          <span
                                                 class="relative my-[6px] block h-[2px] w-[30px] bg-body-color dark:bg-white"></span>
                                          <span
                                                 class="relative my-[6px] block h-[2px] w-[30px] bg-body-color dark:bg-white"></span>
                                          <span
                                                 class="relative my-[6px] block h-[2px] w-[30px] bg-body-color dark:bg-white"></span>
                                   </button>
                                   <nav x-transition="" :class="!navbarOpen &amp;&amp; 'hidden'" id="navbarCollapse"
                                          class="absolute right-4 top-full w-full max-w-[250px] rounded-lg bg-white py-5 px-6 shadow transition-all lg:static lg:block lg:w-full lg:max-w-full lg:bg-transparent lg:shadow-none dark:bg-dark-2 lg:dark:bg-transparent hidden">
                                          <ul class="block lg:flex">
                                                 <li>
                                                        <a href="javascript:void(0)"
                                                               class="flex py-2 text-base font-medium text-dark dark:text-white hover:text-primary lg:ml-12 lg:inline-flex">
                                                               Accueil
                                                        </a>
                                                 </li>
                                                 <li>
                                                        <a href="javascript:void(0)"
                                                               class="flex py-2 text-base font-medium text-dark dark:text-white hover:text-primary lg:ml-12 lg:inline-flex">
                                                               Services
                                                        </a>
                                                 </li>
                                                 <li>
                                                        <a href="javascript:void(0)"
                                                               class="flex py-2 text-base font-medium text-dark dark:text-white hover:text-primary lg:ml-12 lg:inline-flex">
                                                               Equipe
                                                        </a>
                                                 </li>
                                                 <li>
                                                        <a href="javascript:void(0)"
                                                               class="flex py-2 text-base font-medium text-dark dark:text-white hover:text-primary lg:ml-12 lg:inline-flex">
                                                               Nos prix
                                                        </a>
                                                 </li>
                                                 <li>
                                                        <a href="javascript:void(0)"
                                                               class="flex py-2 text-base font-medium text-dark dark:text-white hover:text-primary lg:ml-12 lg:inline-flex">
                                                               Contact
                                                        </a>
                                                 </li>
                                          </ul>
                                   </nav>
                            </div>
                            <div class="justify-end hidden pr-16 sm:flex lg:pr-0">
                                   <a href="javascript:void(0)"
                                          class="py-3 text-base font-medium px-7 text-dark dark:text-white hover:text-primary">
                                          Se connecter
                                   </a>
                                   <a href="javascript:void(0)"
                                          class="py-3 text-base font-medium text-black rounded-lg bg-primary px-7 hover:bg-opacity-90">
                                          S'inscrire
                                   </a>
                            </div>
                     </div>
              </div>
       </div>
</header>