<footer class="bg-black py-12 px-8 font-sans tracking-wide">
       <div class="grid max-sm:grid-cols-1 lg:grid-cols-3 items-center gap-8">
              <h2 class="lg:col-span-2 text-xl font-semibold text-gray-300">Rejoignez notre newsletter pour recevoir nos
                     mail<br /> Entrer votre l'adresse email</h2>
              <div class="bg-transparent border border-gray-800 flex px-1 py-1 rounded-full">
                     <input type='email' placeholder='Entrer votre email'
                            class="w-full outline-none bg-transparent pl-4 text-sm text-gray-300" />
                     <button type='button'
                            class="bg-gray-600 hover:bg-gray-700 transition-all text-gray-200 text-sm rounded-full px-5 py-2.5">S'inscrire</button>
              </div>
       </div>

       <hr class="my-12 border-gray-800" />

       <div class="grid max-sm:grid-cols-1 max-lg:grid-cols-2 lg:grid-cols-5 lg:gap-20 max-lg:gap-8">
              <div class="lg:col-span-3 max-lg:col-span-full">
                     <a href='javascript:void(0)'><img src="assets/img1.jpg" alt="logo!" class='w-48' /></a>
                     <p class="text-gray-300 text-sm lg:max-w-sm mt-6">Sen Karangue , Sunu Yitte</p>
              </div>

              <div>
                     <h4 class="text-lg font-semibold mb-4 text-gray-300">Services</h4>
                     <ul class="space-y-4">
                            <li><a href="javascript:void(0)"
                                          class="text-gray-300 hover:text-gray-200 text-sm">Development Web
                                   </a></li>
                            <li><a href="javascript:void(0)" class="text-gray-300 hover:text-gray-200 text-sm">Internet
                                          des objets(IoT)
                                   </a></li>
                            <li><a href="javascript:void(0)"
                                          class="text-gray-300 hover:text-gray-200 text-sm">Infographie
                                   </a></li>
                            <li><a href="javascript:void(0)" class="text-gray-300 hover:text-gray-200 text-sm">
                                          Installation Reseaux</a></li>
                     </ul>
              </div>

              <div>
                     <h4 class="text-lg font-semibold mb-4 text-gray-300">A Propos </h4>
                     <ul class="space-y-4">
                            <li><a href="javascript:void(0)" class="text-gray-300 hover:text-gray-200 text-sm">
                                          Notre Histoire</a>
                            </li>
                            <li><a href="javascript:void(0)" class="text-gray-300 hover:text-gray-200 text-sm">Mission

                                   </a></li>
                            <li><a href="javascript:void(0)"
                                          class="text-gray-300 hover:text-gray-200 text-sm">Equipe</a>
                            </li>
                     </ul>
              </div>
       </div>

       <p class='text-sm text-gray-300 mt-8'>© Ai-Karangue. tous droits reserves.</p>
</footer>