<section class="text-gray-600 body-font mt-2">
       <div class="container px-5 py-24 mx-auto">
              <div class="flex flex-wrap w-full mb-20">
                     <div class=" text-center w-full  mb-6 lg:mb-0">
                            <h1
                                   class="justify-center items-center  title-font mb-2 text-center text-4xl  text-gray-700 font-bold">
                                   Notre
                                   Equipe </h1>
                            <!-- <div class="h-1 w-20 bg-indigo-500 rounded"></div> -->
                     </div>
                     <!-- <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Whatever cardigan tote bag tumblr hexagon
                            brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't
                            heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac
                            humblebrag.</p> -->
              </div>
              <div class="flex flex-wrap -m-4">
                     <div class="xl:w-1/4 md:w-1/2 p-4">
                            <div class="bg-gray-100 p-6 rounded-lg">
                                   <img class="h-40 rounded w-full font-bold object-cover object-center mb-6"
                                          src="assets/moussa.jpg" alt="content">
                                   <h3 class="tracking-widest text-indigo-500 text-lg font-medium title-font"> Moussa
                                   </h3>
                                   <h2 class="text-lg text-gray-900 font-bold title-font mb-4">MBAYE</h2>

                                   <p class="leading-relaxed text-base">
                                          Etudiant en BTS AUTOMATIQUE au CFPT Sénégal
                                          Japon et en ROBOTIQUE à l'UNCHK,GEEK,MAKER
                                   </p>
                            </div>
                     </div>

                     <div class="xl:w-1/4 md:w-1/2 p-4">
                            <div class="bg-gray-100 p-6 rounded-lg">
                                   <img class="h-40 pt-2 rounded w-full font-bold object-cover object-center mb-6"
                                          src="assets/mahmoudoriginal.jpg" alt="content">
                                   <h3 class="tracking-widest text-indigo-500 text-lg font-medium title-font"> Mahmoud
                                   </h3>
                                   <h2 class="text-lg text-gray-900 font-bold title-font mb-4">SARR</h2>
                                   <h2></h2>

                                   <p class="leading-relaxed text-base">Etudiant en BTS AUTOMATIQUE au CFPT Sénégal
                                          Japon et en ROBOTIQUE à l'UNCHK,GEEK,MAKER</p>
                            </div>
                     </div>

                     <div class="xl:w-1/4 md:w-1/2 p-4">
                            <div class="bg-gray-100 p-6 rounded-lg">
                                   <img class="h-40 rounded w-full font-bold object-cover object-center mb-6"
                                          src="assets/niasse.jpg" alt="content">
                                   <h3 class="tracking-widest text-indigo-500 text-lg font-medium title-font"> Abdoulaye
                                   </h3>
                                   <h2 class="text-lg text-gray-900 font-bold title-font mb-4">NIASSE</h2>
                                   <p class="leading-relaxed text-base">Etudiant en BTS AUTOMATIQUE au CFPT Sénégal
                                          Japon et en ROBOTIQUE à l'UNCHK,GEEK,MAKER</p>
                            </div>
                     </div>

                     <div class="xl:w-1/4 md:w-1/2 p-4">
                            <div class="bg-gray-100 p-6 rounded-lg">
                                   <img class="h-40 rounded w-full font-bold object-cover object-center mb-6"
                                          src="assets/mariama.jpg" alt="content">
                                   <h3 class="tracking-widest text-indigo-500 text-lg font-medium title-font"> Mariama
                                   </h3>
                                   <h2 class="text-lg text-gray-900 font-bold title-font mb-4">FALL</h2>
                                   <p class="leading-relaxed text-base">Etudiant en BTS AUTOMATIQUE au CFPT Sénégal
                                          Japon et en ROBOTIQUE à l'UNCHK,GEEK,MAKER e</p>
                            </div>
                     </div>



              </div>
       </div>
</section>