<div class="bg-white py-6 sm:py-8 lg:py-12">
       <div class="mx-auto max-w-screen-xl px-4 md:px-8">
              <h2 class="text-gray-800 sm:text-4xl text-2xl font-extrabold text-center mb-16">Ce que les autres
                     disent sur nous</h2>

              <div class="grid gap-y-10 sm:grid-cols-2 sm:gap-y-12 lg:grid-cols-3 lg:divide-x">
                     <!-- quote - start -->
                     <div class="flex flex-col items-center gap-4 sm:px-4 md:gap-6 lg:px-8">
                            <div class="text-center text-gray-600">
                                   Leur équipe a fait preuve de professionnalisme tout au long du projet. Ils ont non
                                   seulement respecté les délais, mais ont aussi surpassé nos attentes en termes de
                                   qualité et d'innovation. Je recommande vivement leurs services à toute entreprise
                                   cherchant des solutions IT sur mesure.
                            </div>

                            <div class="flex flex-col items-center gap-2 sm:flex-row md:gap-3">
                                   <div
                                          class="h-12 w-12 overflow-hidden rounded-full bg-gray-100 shadow-lg md:h-14 md:w-14">
                                          <img src="assets/img/karangue.jpg" loading="lazy" alt="Photo by Radu Florin"
                                                 class="h-full w-full object-cover object-center" />
                                   </div>

                                   <div>
                                          <div
                                                 class="text-center text-sm font-bold text-indigo-500 sm:text-left md:text-base">
                                                 Maodo NDIAYE</div>
                                          <p class="text-center text-sm text-gray-500 sm:text-left md:text-sm">Start
                                                 Group
                                          </p>
                                   </div>
                            </div>
                     </div>
                     <!-- quote - end -->

                     <!-- quote - start -->
                     <div class="flex flex-col items-center gap-4 sm:px-4 md:gap-6 lg:px-8">
                            <div class="text-center text-gray-600">
                                   Nous avons fait appel au service de <span br
                                          class="text-red-600 font-bold text-2xl">Art'Beau-Rescence</span>
                                   pour
                                   moderniser notre infrastructure
                                   réseau, et le résultat est impressionnant. Leur expertise technique et leur souci du
                                   détail ont fait toute la différence. Grâce à eux, nos systèmes sont plus rapides,
                                   plus sûrs, et plus fiables. C'est un vrai partenaire sur lequel on peut compter.
                            </div>

                            <div class="flex flex-col items-center gap-2 sm:flex-row md:gap-3">
                                   <div
                                          class="h-12 w-12 overflow-hidden rounded-full bg-gray-100 shadow-lg md:h-14 md:w-14">
                                          <img src="assets/karangue.jpg"
                                                 class="h-full w-full object-cover object-center" />
                                   </div>

                                   <div>
                                          <div
                                                 class="text-center text-sm font-bold text-indigo-500 sm:text-left md:text-base">
                                                 Mamadou Lamine DIOP</div>
                                          <p class="text-center text-sm text-gray-500 sm:text-left md:text-sm">Bold
                                                 Gainde Group
                                          </p>
                                   </div>
                            </div>
                     </div>
                     <!-- quote - end -->

                     <!-- quote - start -->
                     <div class="flex flex-col items-center gap-4 sm:px-4 md:gap-6 lg:px-8">
                            <div class="text-center text-gray-600">
                                   Le service client de <span br
                                          class="text-blue-800 font-bold text-2xl">Art'Beau-Rescence</span> est
                                   exceptionnel. Dès le premier
                                   contact, nous avons été impressionnés par leur réactivité et leur compréhension de
                                   nos besoins. Ils ont su nous proposer des solutions parfaitement adaptées à nos
                                   contraintes, et le suivi après-vente est impeccable.
                            </div>

                            <div class="flex flex-col items-center gap-2 sm:flex-row md:gap-3">
                                   <div
                                          class="h-12 w-12 overflow-hidden rounded-full bg-gray-100 shadow-lg md:h-14 md:w-14">
                                          <img src="https://images.unsplash.com/photo-1463453091185-61582044d556?auto=format&q=75&fit=crop&w=500"
                                                 loading="lazy" alt="Photo by Ayo Ogunseinde"
                                                 class="h-full w-full object-cover object-center" />
                                   </div>

                                   <div>
                                          <div
                                                 class="text-center text-sm font-bold text-indigo-500 sm:text-left md:text-base">
                                                 KENU</div>
                                          <p class="text-center text-sm text-gray-500 sm:text-left md:text-sm">
                                          </p>
                                   </div>
                            </div>
                     </div>
                     <!-- quote - end -->
              </div>
       </div>
</div>